@font-face {
  font-family: 'icomoon';
  src:  url('icons/icomoon.eot?h2x2hx');
  src:  url('fonts/icomoon.eot?h2x2hx#iefix') format('embedded-opentype'),
    url('icons/icomoon.ttf?h2x2hx') format('truetype'),
    url('icons/icomoon.woff?h2x2hx') format('woff'),
    url('icons/icomoon.svg?h2x2hx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change icons */
  font-family: 'icomoon' !important;
  speak-as: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e942";
}
.icon-location:before {
  content: "\e947";
}
.icon-clock:before {
  content: "\e94f";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}